.left-section{
    height: 1200px;
    width: 30%;
    background-color:#3266a8;
    float: left;
}
body{
    margin: 0px;
}

.right-section{
    width: 70%;
    height: 1100px;
    background-color: rgb(235, 240, 240);
    float: left;
    color: black;
    font-family: Georgia;
}
